<section class="page-section bg-primary text-white mb-0" id="sobre_mi">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre m&iacute;</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Soy una persona hogareña, me gusta pasar tiempo en casa con mi esposa e hija viendo pel&iacute;culas en Netflix o yendo al cine. A veces salimos a manejar bicicleta los domingos por la mañana desde la av. Tacna hasta llegar a Miraflores.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    En mis ratos libres me gusta enterarme de las noticias v&iacute;a escuchando la radio o la TV, tambi&eacute;n me gusta escuchar m&uacute;sica de g&eacute;nero rock & pop, ver videotutoriales de desarrollo web en Youtube o alguna otra plataforma y jugar
                    partido con compañeros de trabajo
                </p>
            </div>
        </div>

    </div>
</section>