<!-- Resources -->
<h1>Conversi&oacute;n de Euro a D&oacute;lar</h1>
<p>Ingresar monto en euro para su conversi&oacute;n a d&oacute;lares</p>

<!-- Links -->
<div class="card-container">
    <!-- <input type="number" class="form-control" placeholder="EU" [(ngModel)]="montoConvertir" (keypress)="numberOnly($event)"> -->
    <input type="text" placeholder="EU" [(ngModel)]="montoConvertir" onlyNumbers allowDecimals="true" allowSign="false">
    <input type="text" placeholder="USD" readonly [(ngModel)]="montoConvertido">
</div>
<button (click)="convertirMoneda()">CALCULAR</button>