<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Direcci&oacute;n</h4>
                <p class="lead mb-0">av. &Oacute;scar Benavides 679 dpto 604
                    <br>Cercado de Lima</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/aMaGn3c3r">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/GuidoMatos88">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/guidomatos">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre m&iacute;</h4>
                <p class="lead mb-0">Me gusta investigar y aplicar nuevas tecnolog&iacute;as en mi labor diaria de Desarrollador Web
                </p>
            </div>

        </div>
    </div>
</footer>